<html>
<head>
    <title>WikiLeakz</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='favicon.ico') }}" />
</head>
<body>

<div class="controls">
  <div class="force title">
        <img src="{{ url_for('static', filename = 'logo.png') }}" alt="WikiLeakz">
        <div class="subheading"><i>Pedro Camargo, Salvador Aleguas, and Benjamin Ruddy</i></div>
  </div>
  <!-- <form action="{{ url_for('index') }}" method="post">
    <input type="text" name="projectFilepath">
    <input type="submit">
  </form>
  <p>{{ data.penis }}</p> -->

  <div class="force">
    <p><label>About this project</label></p>
    <p>Did you ever find yourself bored at school, playing the "Wiki game" by seeing how many clicks
      it took you to navigate from one Wikipedia article to another? Are you looking to branch out from a certain
      academic field? Having trouble finding an article on a related subject?</p>
    <p>With WikiLeakz, we got you covered. Simply input your desired starting page, your target page,
      and watch the magic happen as we render a dynamic, interactive graph through the power of Wikipedia.</p>
  </div>

<div class="force">
  <form action="{{ url_for('handle_data') }}" method="post">
    <p><label>Start page</label></p>
    <input type="input" size= "48" placeholder="e.g. &quot;https://en.wikipedia.org/wiki/Monkey&quot;" name="start" id='name1' value='' required />
    <br>
    <p><label>Target page</label></p>
    <input type="input" size= "48" placeholder="e.g. &quot;https://en.wikipedia.org/wiki/Evolution&quot;" name="end" id='name2' value='' required />
    <br>
    <input type="submit">
  </form>
  <p>Start: {{data.start}}</p>
  <p>End: {{data.end}}</p>
  <p>Results: {{data.res}}</p>
</div>


  <!-- <div class="force">
    <p><label>Start page URL</label></p>
    <input type="input" size= "48" placeholder="e.g. &quot;https://en.wikipedia.org/wiki/Monkey&quot;" name="name" id='name' value='' required />
  </div>

  <div class="force">
    <p><label>Target page</label>(optional)</p>
    <input type="input" size= "48" placeholder="e.g. &quot;https://en.wikipedia.org/wiki/Evolution&quot;" name="name" id='name' value='' required />
  </div> -->


  <div class="force">
    <p><label>Article of the day</label></p>
    <img src="{{ url_for('static', filename = 'article_of_the_day.png') }}" alt="WikiLeakz">
    <br>
    <figcaption>Pictured: The &quot;Free Speech Flag&quot;<figcaption>
    <br>
    <p><label>Illegal number</label></p>
    <p>An <a href="https://en.wikipedia.org/wiki/Illegal_number">illegal number</a> is a number that represents information which is illegal to possess, utter, propagate, or otherwise transmit in some legal
    jurisdiction. Any piece of digital information is representable as a number; consequently, if communicating a specific set of information is
    illegal in some way, then the number may be illegal as well.</p>
  </div>
</div>
<svg></svg>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='rendergraph.js') }}"></script>
</body>
</html>
