<html>
<head>
    <title>WikiLeakz</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='favicon.ico') }}" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
</head>
<body>

<div class="controls">
  <div class="force title">
        <img src="{{ url_for('static', filename = 'logo.png') }}" alt="WikiLeakz">
        <div class="subheading"><i>Benjamin Ruddy, Salvador Aleguas, Pedro Camargo</i></div>
  </div>

  <div class="force">
    <p><label>About this project</label></p>
    <p>Did you ever find yourself bored at school, playing the "Wiki game," where you see how many clicks
      it took you to navigate from one Wikipedia article to another? Are you looking to branch out from a certain
      academic field? Having trouble finding an article on a related subject?</p>
    <p>With WikiLeakz, we got you covered. Simply input your desired starting page, your target page,
      and watch the magic happen an interactive graph through Wikipedia appears in front of you.</p>
  </div>

<div class="force">
  <form action="{{ url_for('handle_data') }}" method="post">
    <p><label>Start page</label></p>
    <input type="input" size= "48" placeholder="e.g. &quot;https://en.wikipedia.org/wiki/Monkey&quot;" name="start" id='name1' value='' required />
    <br>
    <p><label>Target page</label></p>
    <input type="input" size= "48" placeholder="e.g. &quot;https://en.wikipedia.org/wiki/Evolution&quot;" name="end" id='name2' value='' required />
    <br>
    <input type="submit" value="Generate Graph">
  </form>
</div>



  <div class="force">
    <p><label>Article of the day</label></p>
    <img src="{{ url_for('static', filename = 'article_of_the_day.png') }}" alt="WikiLeakz" style="width:100px;height:50px;">
    <br>
    <figcaption style="font-size: 8pt">Pictured: The &quot;Free Speech Flag&quot;<figcaption>
    <br>
    <p><label>Illegal number</label></p>
    <p>An <a href="https://en.wikipedia.org/wiki/Illegal_number">illegal number</a> is a number that represents information which is illegal to possess, utter, propagate, or otherwise transmit in some legal
    jurisdiction. Special shoutout to the homies @ SeLo 2021t.</p>
  </div>
</div>
<svg></svg>
<script src="{{ url_for('static', filename='d3.v4.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='rendergraph.js') }}"></script>
</body>
</html>
